@charset "utf-8";
/* CSS Document */


body{margin: 0px; padding: 0px; color: #333; font-family: "Lucida Sans Unicode", "Trebuchet MS", Arial; font-size: 12px;}

#wrap{position: relative; margin: 0px 0px 0px -450px; left: 50%; width: 900px; height: 100% auto; background: url(images/wrapbk.jpg) repeat-y;}

#header{float: left; width: 900px; height: 100% auto;}

#navigation{float: left; width: 900px; height: 100% auto;}

a{color:#CC0000; text-decoration: none;  }
a:hover, a:active{color: #333;   }

img{border: none;}

ul{margin: 0px; padding: 0px;}
li{list-style: none; margin: 0px; padding: 2px 0px;}

h2{color: #333; font-size: 12px; margin: 5px 0px 0px 0px; padding: 2px 0px; }
h3{color: #069; font-size: 11px; margin: 0px; padding: 2px 0px 0px 0px;}

.linksrc{font-size: 11px; /*color:#690;*/  color: #069; padding: 0px;}

#mainpg{float: left; width: 900px; height: 100% auto;}

#main{float: left; width: 335px; height: 100% auto; background: url(images/title.jpg) no-repeat; min-height: 500px;}

#resources{float: left; width: 394px; margin: 30px 5px 5px;}
#resources h2{margin-left: 0px;}
#resources li{padding: 5px 0px;}

#newsmenu{margin: 30px 5px 5px;}
#newsmenu ul{width: 100% auto; border: 1px solid #ccc; margin: 5px; padding: 3px; background: #fff; text-align: center;} 
#newsmenu ul li{display: inline; padding: 2px; font-size: 12px;}
#newsmenu ul li a{color: #333;padding: 5px;}
#newsmenu ul li a:hover{background: #069; color: #fff;}
#newsmenu ul li a:active{background: #C00; color: #fff;}

#side{float: left; width: 404px;  height: 100% auto; min-height: 500px;   }

#linklist{float: left; width: 145px; height: 100% auto; min-height: 500px;  margin: 30px 0px 5px 5px;}

#linklist ul{margin-left: 10px; width: 130px;}
#linklist ul li{padding: 3px 0px;}

#footer{clear: both; width: 900px; height: 48px; background: url(images/footer.jpg) no-repeat;}
.imgcenter{ text-align: center;}

.clearfloat {clear:both; height:0; font-size: 1px; line-height: 0px;}

.thumbnail img{width: 24em; height: 14em; } /*resize images in rss feed */
.thumbnail li img{align: right; padding: 0px 0px 3px 5px;}

.scroll{margin-left: 5px;
overflow: auto; 
scrollbar-face-color:#fff; 
scrollbar-shadow-color: #fff; 
scrollbar-highlight-color: #fff; 
scrollbar-3dlight-color: #fff; 
scrollbar-darkshadow-color: #fff; 
scrollbar-track-color: #fff; 
scrollbar-arrow-color: #069; 
}

#newsfeeds {margin: 5px;}
#newsfeeds h2{margin-left: 5px;}
#newsfeeds ul{margin: 0px 5px;}