

body 	{
	margin: 0px;
	padding: 0px;
	color: #c5c5c5; 
	background: #000000; 
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	filter: chroma(#FF00FF); 
      	scrollbar-face-color:#FF00FF;
      	scrollbar-shadow-color:#FF00FF;
      	scrollbar-highlight-color:#FF00FF;
      	scrollbar-3dlight-color:#FF00FF;
      	scrollbar-darkshadow-color:#FF00FF;
      	scrollbar-track-color:#FF00FF;
      	scrollbar-arrow-color:#000000;
}



#container {
	position: relative;
	width: 1001px;
	height: 100% auto;
	margin: 0px 0px 0px -500px;	
	left: 50%;
	background: none;
	}

#containerbottom {
	position: relative;
	width: 1001px;
	height: 100% auto;
	margin: 0px 0px 0px -500px;	
	left: 50%;
	background: none;
	}

ul	{
	margin: 0px;
	padding: 0px;
	list-style: none;
	}

li	{
	display: block;
	margin: 0px;
	padding: 3px 0px;
	list-style: none;
	}

img	{
	border: none;
	padding: 0px;
	margin:0px;
	}

a	{
	color: #FFFFFF;
	text-decoration: underline;
	}

a:hover	{
	color: #FFFFAA;
	}

.center {
	text-align: center;
	}

.clear {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
	} 



h1	{
	font-size: 11px;
	margin: 0px;
	padding: 0px;
	color: #000000;
	font-weight: bold;
	}


h2	{
	color: #6fbdff;
	margin: 0px;	
	padding: 0px;
	font-size: 11px;
	font-weight: normal;
	}

h3	{
	font-size: 11px;
	margin: 0px;
	padding: 0px;
	color: #000000;
	font-weight: bold;
	border-bottom: 1px solid #ffdb33;
	}

h4	{
	font-size: 18px;
	margin: 0px;
	padding: 0px;
	color: #000000;
	font-weight: normal;
	border-bottom: 1px solid #CCCCCC;
	}







#bulletin {
	background-color:none;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8px;
	padding: 0px 0px 0px 3px;	
	}

#bulletin a {
	background-color:none;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8px;
	padding: 10px 0px 0px 0px;	
	}





#banner	{
	float: left;
	width: 1001px;
	height: 100% auto;
	margin: 0px;
	padding: 0px;
	}

#banner ul {
	float: left;	
	width: 100% auto;
	height: 100% auto;
	}
#banner li {
	display: inline;
	margin: 0px;
	padding: 0px;
	}


	
#torsocontainer	{
	text-align:left;
	float: left;
	width: 1001px;	
	height: 100% auto;
	margin: 0px;	
	padding: 0px;
	background: url(images/slice.jpg) repeat-y;
	}


#sidebar{
	float: left;
	width: 245px;
	height: 100% auto;
	margin: 0px 0px 0px 0px;
	-margin: 10px 5px 0px 4px;
	padding: 0px;
	font-size:3px;
	text-align:left;
	}

#sidebar li, #sidebar ul{
	padding: 0px;
	margin:0px;
	}


#sidebar h2  {
	color: #ffd800;
	font-size:17px;
	font-weight:bold;	
	padding: 4px 0px 4px 0px;
	text-align:left;
	}

#sidebar a:link, #sidebar a:visited  {
	font-weight:bold;
	color: #fab600;
	font-size:10px;
	padding: 0px 0px 0px 0px;
	text-align:left;
	}


#maininfo {
	float: left;
	margin: 0px 5px 0px 0px;
	width:259px;
	height: 100% auto;
	margin: 0px;
	padding: 0px;
	}

#maininfo h2 {
	margin-left: 10px;
	}

#maininfo ul li img {
	padding-right: 5px;
	}

#rightcol {
	float: left;
	width: 178px;
	height: 100% auto;
	margin: 0px 0px 0px 6px;
	-margin: 10px 0px 0px 9px;
	padding: 0px;
	font-size:10px;
	color: #000000;
	}

#rightcol h2 {
	margin-left: 0px;
	}

#rightcol ul li img {
	padding-right: 0px;
	}

#rightcol a:link, #rightcol a:visited  {
	font-weight:bold;
	color: #d96100;
	}


#rightcol2 {
	float: left;
	width: 278px;
	height: 100% auto;
	margin: 0px 0px 0px 18px;
	-margin: 10px 0px 0px 9px;
	padding: 0px;
	font-size:10px;
	color:#FFFFFF;
	}

#rightcol2 h2 {
	margin-left: 0px;
	}

#rightcol2 ul li img {
	padding-right: 0px;
	}

#rightcol2 a:link, #rightcol2 a:visited  {
	font-weight:bold;
	color: #fab600;
	}



#footer {
	clear: both;
	width: 1000px;
	height: 37px;
	margin: 0px;
	padding: 10px 0px 0px 0px;
	font-size: 10px;
	background: #000000;
	background: url(images/footer.jpg) no-repeat;
	}

#footer ul {
	float: left;
	width: 100% auto;
	height: 100% auto;
	margin: 0px 20px;
	padding: 15px 0px 0px 0px;
	}

#footer li{
	display: inline;
	padding: 5px;
	}

#footertext {
	text-align:center;
	padding: 10px 10px 50px 10px;
	color:#FFFFFF;
	font-size:12px;
	}

#ad1 {
	text-align:left;
	}

#ad2 {
	text-align:right;
	}


#header1	{
	float: left;
	width: 245px;
	height: 120px;
	background: url(images/header1.jpg) no-repeat;
	margin: 0px;
	padding: 0px;
	}

#header2 {
	float: left;
	width: 264px;
	height:120px;
	background: url(images/header2.jpg) no-repeat;
	margin: 0px !important;
	padding: 0px !important;
	font-size: 5px;
	}

#header3	{
	float: left;
	width:195px;
	height: 120px;
	background: url(images/header3.jpg) no-repeat;
	margin: 0px;
	padding: 0px;
	}

#header4	{
	float: left;
	width:296px;
	height:120px;
	background: url(images/header4.jpg) no-repeat;
	margin: 0px;
	padding: 0px;
	}

#headertext  {
	text-align:center;
	padding-top:2px;
	}

#headertext li a {
	padding:0px 20px 0px 65px;
	display:block;
	text-align:center;
	font-size: 13px;
	color:#FFFFFF;
	font-weight:bold;
	}


#cycle1 {
	text-align:center;
	}

#cycle2 {
	text-align:center;
	}

