
html {
	background-color:#000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
	background-color:#000000;
	scrollbar-face-color:#000000;
	scrollbar-highlight-color:#000000;
	scrollbar-3dlight-color:#000000;
	scrollbar-shadow-color:#000000;
	scrollbar-darkshadow-color:#000000;
	scrollbar-arrow-color:#FFFFFF;
	scrollbar-track-color:#000000;
}


.rssfeedtitle {
	background-color:#000000;
	font-size:15px;
	font-weight:bold;
	color: #fec500;
	margin: 15px 5px 2px 5px;
	padding: 5px;
	}


#rssfeed, #rssfeed a {
	background-color:#000000;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;	
	}


li 	{
	list-style-type: none;
	margin: 5px;
	padding: 5px;
	} 

ul 	{
	list-style: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	} 



