body {
	background: #000000 url(images/back3.jpg) repeat-x;
	text-align:center;
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color: #000000;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

h1 {
}

h2, h3 {
	margin-top: 0px;
}

h4, h5, h6 {
}

p, ol, ul, dl, blockquote {
}

a {
	color: #000000;
}

a:hover {
	text-decoration: none;
}



#header {
	width: 780px;
	height: 60px;
	margin: 0px auto;
}

#header h1 {
	float: left;
	margin: 0px;
	padding-top: 20px;
	font-size: 42px;
	letter-spacing: -2px;
}

#header h2 {
	float: right;
	margin: 10px 0px 0px 0px;
	padding-top: 28px;
	font-size: 16px;
	letter-spacing: -1px;
	color: #FFFFFF;
}

#header a {
	text-decoration: none;
	color: #FFFFFF;
}



#menu {
	width: 780px;
	height: 25px;
	margin: 0px auto;
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	text-transform: capitalize;
	background-color: #FFFFFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	font:"Times New Roman", Times, serif;
	font-size:14px
	display: block;
	float: left;
	width: 130px;
	padding: 5px 0px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	background: #FFFFFF;
}

#menu a:hover {
	background: #000000;
	color: #FFFFFF;
}



#content {
	background: #FFFFFF;
	width: 780px;
	margin: 0px auto;
	padding: 2px 0px 0px 0px;
}

#colOne {
	float: right;
	width: 550px;
	margin-top: 20px;
	padding-right: 20px;
	background-color: #FFFFFF;
}

#colTwo {
	float: left;
	width: 145px;
	margin-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	color: #000000;
	font-family: "Times New Roman", Times, serif;
}

#colTwo ul {
	margin-left: 0px;
	padding-left: 0px;
	list-style-position: inside;
}

#content h1 {
	background-color: #000000;
	padding: 5px 0px 5px 5px;
	color: #000000;
}

#content h2 {
	background-color: #000000;
	padding: 5px 0px 5px 5px;
	text-transform: uppercase;
	font-size: 16px;
	color: #FFFFFF;
}

#content h3 {
	color: #000000;
}


#footer {
	width: 780px;
	height: 40px;
	background-color: #000000;
	border:;
	font-family: "Times New Roman", Times, serif;
	font-size: 9px;
	color: #ffffff;
	font-weight: bold;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#footer p {
	margin: 0px;
	padding-top: 15px;
	text-align: center;
	font-size: 9px;
	color: #000000;
}



#footer_ind {
	width: 780px;
	height: 115px;
	background-color: #ffffff;
	border:;
	font-family: "Times New Roman", Times, serif;
	font-size: 9px;
	color: #000000;
	font-weight: bold;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#footer_ind p {
	margin: 0px;
	padding-top: 15px;
	text-align: center;
	font-size: 9px;
	color: #ffffff;
}
