
html {


}


body {
	background-color:#ffd180;
	scrollbar-face-color:#f8951e;
	scrollbar-highlight-color:#f8951e;
	scrollbar-3dlight-color:#f8951e;
	scrollbar-shadow-color:#f8951e;
	scrollbar-darkshadow-color:#f8951e;
	scrollbar-arrow-color:#000000;
	scrollbar-track-color:#f8951e;
}


.rssfeedtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:#none;
	font-size:17px;
	font-weight:bold;
	color:#6f1a04;
	padding: 7px 7px 7px 12px;
	}


#rssfeed {
	background-color:#none;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;	
	}


#rssfeed a {
	font-weight:bold;
	background-color:#none;
	color:#821904;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;	
	}





li 	{
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 7px 0px 7px;
	} 

ul 	{
	list-style: none;
	margin: 0px 7px 0px 0px;
	padding: 0px 7px 0px 7px;
	} 