
html {


}


body {
	background-color:#ffffff;
	scrollbar-face-color:#ffffff;
	scrollbar-highlight-color:#ffffff;
	scrollbar-3dlight-color:#ffffff;
	scrollbar-shadow-color:#ffffff;
	scrollbar-darkshadow-color:#ffffff;
	scrollbar-arrow-color:#000000;
	scrollbar-track-color:#ffffff;
}


.rssfeedtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:#none;
	font-size:14px;
	font-weight:bold;
	color:#3c6428;	
	padding: 2px 7px 2px 2px;
	}


#rssfeed {
	background-color:#none;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;	
	}


#rssfeed a {
	font-weight:bold;
	background-color:#none;
	color:#3c6428;	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;	
	}



.busfeedtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color:#none;
	font-size:14px;
	font-weight:bold;
	color:#3c6428;	
	padding: 2px 7px 2px 2px;
	}


#busfeed {
	background-color:#none;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;	
	}


#busfeed a {
	font-weight:bold;
	background-color:#none;
	color:#3c6428;	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;	
	}







li 	{
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 7px 0px 2px;
	} 

ul 	{
	list-style: none;
	margin: 0px 7px 0px 0px;
	padding: 0px 7px 0px 2px;
	} 