body,td,th {
	font-family: Verdana;
	font-size: 10px;
	color: #000000;
	}
a:link, a:visited {
	color: #4D89C5;
	text-decoration: none;
	font-weight:bold;
}

a:hover {
	text-decoration: underline;
}
 .subtitle{
 font-family: Verdana,Arial,sans-serif;
 font-size: 11px;
 color: #000000;
 font-weight: bold;
 text-decoration:underline;
 }
  .ads{
 font-family: Verdana,Arial,sans-serif;
 font-size: 10px;
 color: #000000;
 font-weight: bold;
}
.date {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:9px;
color:#666666;
}
.content2{
	font-weight:regular;
	font-family:Verdana, Arial, sans-serif;
	font-size:10px;
	color:#000000;
	padding:2px 6px 5px 2px;
		}
.url{
	font-weight:regular;
	font-family:Verdana, Arial, sans-serif;
	font-size:9px;
	color:#999999;
			}	
	