
/* global css                      */


html {
	background-color:#FFFFFF;
}


body 	{	

	margin: 0px 0px 0px 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	overflow: auto;
	color: #295f38;
	scrollbar-face-color:ffffff;
	scrollbar-highlight-color:ffffff;
	scrollbar-3dlight-color:ffffff;
	scrollbar-shadow-color:ffffff;
	scrollbar-darkshadow-color:ffffff;
	scrollbar-arrow-color:000000;
	scrollbar-track-color:ffffff;
	}

img 	{ 
	border-style: none;
	}

a 	{
	color: #295f38;
	font-weight: bold;
	}

a:link 	{
	color: #295f38;
	font-weight: bold;
	}

a:visited {
	color: #295f38;
	font-weight: bold;
	}

li 	{
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	} 

ul 	{
	list-style: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	} 

/* h2 is also text ad titles */

h2  	{
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	}

.bannerad {
	float: left;
	padding 8px 0px 0px 0px;
	}



/*--- rss feeds--------------------------- */

.rssfeedtitle {
	background-color:#FFFFFF;
	font-size:13px;
	font-weight:bold;
	color:#295f38;
	}


#rssfeed {
	background-color:#FFFFFF;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;	
	}


#rssfeed li {
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 0px 0px;
	}


#rssfeed a {
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 0px 0px;
	font-size: 14px;	
	}



