body {
	margin: 10px 0 10px 0;
	padding: 0;
	background: #036879;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight : normal;
}

p {
	margin: 25px 0 5px 8px;
}

a:link {
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

a:visited {
	color: #cccccc;
	font-weight: bold;
	text-decoration: none;
}

a:hover, a:active {
	color: #000000;
	font-weight: bold;
	text-decoration: underline;
}	

img {
	margin: 0;
	padding: 0;
	border: none;
}

img.applets {
	float: left;
	height: 170px;
	margin: 2px 0 3px 23px;
	padding: 0;
	background: #87a78a;
	border: none;
}

/* Banner */

#banner {
	clear: both;
	width: 900px;
	height: 175px;
	margin: 0 auto 0;
	padding: 0;
}

#banner ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#banner li {
	display: inline;
}

#banner a {
	display: block;
	float: left;
	width: 90px;
	height: 175px;
}

#banner1 { background: url(images/banner_01.jpg) no-repeat center; }
#banner2 { background: url(images/banner_02.jpg) no-repeat center; }
#banner3 { background: url(images/banner_03.jpg) no-repeat center; }
#banner4 { background: url(images/banner_04.jpg) no-repeat center; }
#banner5 { background: url(images/banner_05.jpg) no-repeat center; }
#banner6 { background: url(images/banner_06.jpg) no-repeat center; }
#banner7 { background: url(images/banner_07.jpg) no-repeat center; }
#banner8 { background: url(images/banner_08.jpg) no-repeat center; }
#banner9 { background: url(images/banner_09.jpg) no-repeat center; }
#banner10 { background: url(images/banner_10.jpg) no-repeat center; }

/* Page */

#page {
	width: 900px;
	margin: 0 auto;
	background: #036879;
}

/* Column 1 */

#colOne {
	width: 150px;
	height: 640px;
	margin: 5px 0 0 0;
	padding: 0 0 10px 0;						              
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	background: #ffffff;
}

#colOne .linkbox {
	width: 135px;
	margin: 10px 0 0 4px;
	padding: 0;
	float: left;
	background: #d8de8a;
}

#colOne .linkbox h2 {
	margin: 5px 0 7px 27px;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
}

#colOne .linkbox ul {
	list-style: none;
	line-height: normal;
	margin: 0;
	padding: 0;
}

#colOne .linkbox li {
	margin: 3px 0 5px 8px;
	padding: 0;
	font-family: "Verdana", Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
}

#colOne .linkbox a:link, #colOne .linkbox a:visited {
	color: #053c75;
	font-weight: normal;
	text-decoration: none;
}

#colOne .linkbox a:hover, #colOne .linkbox a:active {
	color: #528eba;
	font-weight: normal;
	text-decoration: none;
}

/* Column 2 */

#colTwo {
	width: 550px;
	height: 640px;
	float: left;
	margin: 5px 9px 0 9px;
	padding: 0 0 10px 0;
	background: #ffffff;						              
}

/* iframe */
.frame {
	float: left;
	width: 528px;
	height: 630px;
	margin: 10px 0 0 10px;
	padding: 0;
	background: #f9f8cb;
	border: none;
}

/* Column 3 */

#colThree {
	width: 180px;
	height: 640px;
	margin: 5px 0 0 0;
	padding: 0 0 10px 0;						              
	float: left;
	background: #ffffff;
}

#colThree .adbox {
	width: 168px;
	margin: 10px 0 0 3px;
	padding: 0;
	float: left;
	background: #87a78a;
}

#colThree .adbox h2 {
	margin: 3px 0 9px 0;
	padding: 0;
	background: #87a78a;
	border: none;
}

#colThree .adbox ul {
	list-style: none;
	line-height: normal;
	margin: 0;
	padding: 0;
}

#colThree .adbox li {
	margin: 0 0 24px 2px;
	padding: 0;
	font-size: 11px;
	font-weight: normal;
}

#colThree .adbox .title {
	color: #000000;
	font-size: 11px;
	font-weight: bold;
}

#colThree .adbox a:link, #colThree .adbox a:visited {
	color: #f9f8cb;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
}

#colThree .adbox a:hover, #colThree .adbox a:active {
	color: #f9f8cb;
	font-size: 11px;
	font-weight: normal;
	text-decoration: underline;
}

/* Footer */

#footer {
	clear: both;
	margin: 0 auto;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background: #transparent;
}

#footer p {
	color: #f9f8cb;
	text-align: center;
	margin: 0 0 3px 0;
}