@charset "utf-8";
/* CSS Document */

.scroll {filter:Chroma(Color=#123456); scrollbar-face-color:#123456; scrollbar-shadow-color:#123456; scrollbar-highlight-color:#123456;scrollbar-3dlight-color:#123456; scrollbar-darkshadow-color:#123456; scrollbar-track-color:#123456; scrollbar-arrow-color:#000000; }
ul	{list-style: none; margin: 0; padding: 0; } /*whole list info*/
li	{display: block;  padding: 0px; margin: 0px; color:#666;} /*row & description of link*/
li a {text-decoration: none; color: #002BB8; font-weight: normal; } /*link*/
li a:hover {color:#002BB8; text-decoration: underline;}

#wrap {float:left; width:850px; height:930px;}

#nav {float:left; width:850px; height:40px; background:url(images/arabic_01.jpg) no-repeat;}

#header {float:left; width:850px; height:212px;}

#col-1-whole {float:left; width:210px; height:648px;}
#col-1-top {float:left; width:210px; height:192px;}
#col-1-bottom {float:left; width:210px; height:456px; background:url(images/arabic_23.jpg) no-repeat;}

#col-2 {float:left; width:379px; height:648px; background:url(images/arabic_19.jpg) no-repeat;}
.box-right {width: 369px; height: 583px; margin: 55px 5px 0 0; padding: 0; overflow: auto; float: right; display:inline;}

#col-3-whole {float:left; width:261px; height:648px;}

#col-3-top {float:left; width:261px; height:518px; background:url(images/arabic_20.jpg) no-repeat;}
#col-3-top-text {float:left; width:231px; height:455px; margin: 10px 5px 0 13px; overflow:auto; display:inline; visibility:visible;}

#col-3-bottom-whole {float:left; width:261px; height:130px;}
#col-3-bottom-left {float:left; width:11px; height:120px; background:url(images/arabic_24.jpg) no-repeat;}
#col-3-bottom-center {float:left; width:240px; height:120px; background:url(images/arabic_25.jpg) no-repeat;}
#col-3-bottom-right {float:left; width:10px; height:120px; background:url(images/arabic_26.jpg) no-repeat;}
#col-3-bottom-bottom {float:left; width:261px; height:10px; background:url(images/arabic_27.jpg) no-repeat;}

#footer {float:left; width:850px; height:30px; background:url(images/Untitled-1.jpg) no-repeat;}

    #tabsH {
      float:left;
      width:100%;
      background:#000;
      font-size:93%;
      line-height:normal;
      }
    #tabsH ul {
	margin:0;
	padding:10px 10px 0 550px;
	list-style:none;
      }
    #tabsH li {
      display:inline;
      margin:0;
      padding:0;
      }
    #tabsH a {
      float:left;
      background:url(images/tableftH.gif) no-repeat left top;
      margin:0;
      padding:0 0 0 4px;
      text-decoration:none;
      }
    #tabsH a span {
      float:left;
      display:block;
      background:url(images/tabrightH.gif) no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#FFF;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #tabsH a span {float:none;}
    /* End IE5-Mac hack */
    #tabsH a:hover span {
      color:#FFF;
      }
    #tabsH a:hover {
      background-position:0% -42px;
      }
    #tabsH a:hover span {
      background-position:100% -42px;
      }

#menu8 {
	width: 210px;
	margin-top: 10px;
	}
	
#menu8 li a {
	text-decoration: none;
	height: 32px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	height: 24px;
	}
	
#menu8 li a:link, #menu8 li a:visited {
	color: #002BB8;
	display: block;
	background: url(images/menu8.gif);
	padding: 8px 10px 0 0px;
	}
	
#menu8 li a:hover {
	color: #002BB8;
	text-decoration:underline;
	}
	
#menu8 li a:active {
	color: #002BB8;
	text-decoration:underline;
	}