/* CSS Document */
body {	margin: 0 auto;	padding: 0;	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px; background:#DAE8E9; color: #666; letter-spacing: .02em; }

#wrap {	position: relative; width: 800px; height: 100% auto; left: 50%;	margin-left: -400px; padding:0px; background: #fff url(images/index_05.jpg) repeat-y;}
	
a {	text-decoration: none; color:#0099CC;	font-weight: bold;}
a:hover {color:#3399CC;}
a img {border: 0;}

form{margin: 0px; padding: 0px;}

h2 {font-size: 14px; text-align: left; margin: 5px 0 5px 0; padding: 0px 5px 2px 0px; color:#666666;	}
h3 {font-size: 14px; text-align: left;	margin: 5px; padding: 2px 0px 0px 0px;	color:#333;	}
h4 {font-size: 12px; text-align: left; 	margin: 0 0 5px 0;	padding: 0px 0 2px 5px;	background: url(images/title_bk.gif) repeat-x;
	line-height: 20px; color:#669;	}
	
hr{width: 100%; color:#6666CC;}
	
ul	{margin: 0;	padding: 0;	display: block;	}
li	{list-style: none; padding: 3px 0px;}

#navigation {float: left; width: 490px;	margin: 0px; padding: 0; height: 34px; background: url(images/index_03.gif) top no-repeat;}
#navigation ul {width: 430px; float: left; margin: 3px 10px 3px 20px; padding: 0px; }
#navigation li {display: inline;  list-style: none; padding: 0px 0px;  text-align: center;}
#navigation li a { text-align: center; font-size: 11px; font-weight: bold; color:#333366; padding: 3px 6px 2px 6px; line-height: 25px; background: url(images/title_bk.gif) repeat-x; border: 1px ridge #ccc;}	
	
#navigation li a:hover {color:#fff;	padding: 5px 6px 2px 6px; line-height: 20px; background:#66CCCC;}
#navigation li a.selected{ padding: 5px 6px 2px 6px; line-height: 20px; background:#333366;	color: #FFF;}

#sidebar{position: relative; float: right; width:309px; height: 100%; background: #fff url(images/index_02.jpg) top repeat;}

#sidebarlogin{background: #fff;}
#loginarea{width: 650px; border: 1px solid #ccc;}

#footer {clear: both; width: 800px;	background: #FFF;	color: #666; font-size: 90%; text-align: center; padding: 3px; margin: 0px;	}

#fotoarea {text-align: center;}
#gadgetpics ul{width: 270px; margin-left: 20px;}
#gadgetpics li{display: inline; padding: 3px 10px;}
#gadgetpics img a{width: 100px; height: 100px; border: 1px solid #ccc;}
#gadgetlinks{height: 550px;	overflow: auto;}
#ads {text-align: center; padding: 20px 0px; background: #fff;}
#news, #loginarea {margin-left: 10px; width: 450px;padding: 10px; min-height: 400px; height: 100% auto;}
#news img {padding: 0px 10px 5px 0px;}
#googlesearch{clear: both; float: left; margin-left: 10px; padding: 5px 10px; height: 100% auto; background: #fff;}
#cameras h3{color: #006699; font-size: 85%; text-transform: uppercase;}
#cameras li a{padding-left: 15px; text-indent: inherit; background: url(images/bullet_blue.gif) left top no-repeat;}
#camaras li a:hover{background: url(images/bullet_green.gif) left top no-repeat;}
.col1{width: 489px; float: left;}
.col2{width: 200px; float: left;}
#gadgetpics{background: #fff; margin: 10px;}
ul.halfcol{width: 130px; float: left; height: 100% auto;}
.leftside{border-left: 1px solid #66CCCC;}
.rightside{border-right: 1px solid #66CCCC;}
.fullcol{clear: right; width: 310px; float: right; }

.green{background: #ACE3A1;}
.white{background: #fff;}
/* pics to put in content*/
.rightpic{float: right;}	
.imageboxlist{border: 1px solid #99cc99; text-align: center;  /*same as boxstyle 3 but centered text*/	color: #fff; margin-bottom: 10px;}
	
.boxstyle{	border: 1px solid #66CCCC;	text-align: left;  /*same as boxstyle 1 but left aligned text*/
	color: #333; margin: 5px 10px;	background: url(images/box_bk.gif) repeat-y;}	
.boxwhite{	border: 1px solid #66CCCC;	text-align: left;  
	color: #333; margin: 5px 10px;	background: #fff;}	
.boxstyle ul{padding: 5px; margin: 0px;}
.smallerfont{ padding: 10px; font-size: 10px; font-style: italic;}
.smallborder{border: 1px solid #ccc;}